* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

#container {
  background-color: white;
  padding: 1vw 2vw;
  border-radius: 3px;
  position: relative;
  rotate: 270deg;
  height: 15vw;
  width: 90%;
  box-shadow: inset 1px 1px 10px rgb(206, 206, 206), inset -1px -1px 10px rgb(206, 206, 206);
  border: 1px solid gray;
}

#volume-range {
  -webkit-appearance: none;
  position: absolute;
    right: 5%;
    top: 32%;
  height: 5vw;
  width: 69vw;
  background-color: royalblue;
  border-radius: 1px;
}

#volume-range::-webkit-slider-thumb {
-webkit-appearance: none;
height: 6vw;
width: 2vw;
background-color: blue;
border-radius: 1px;
}

#bar {
  height: 0.7vw;
  width: 10%;
  background-color: gray;
  border-radius: 10px;
  position: absolute;
top: 47%;
    left: 10%;
  transform: rotate(90deg);
}

#sound-icon {
  position: absolute;
top: 20%;
    left: 4%;
  transform: rotate(90deg);
  font-size: 7vw;
}
